 <!-- Portfolio Modals -->
 {% for post in site.categories.2017_speakers %}
    <div class="portfolio-modal modal fade" id="{{ post.name }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="{{ "/css/2017_style/img/speaker/TBD.jpg" | prepend:site.baseurl }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>Soy formador certificado de Kanban, speaker y apasionado de las metodologías ágiles, kanban, sociocracia y el pensamiento sistémico.
                            <p>Estudié Informática en Zaragoza y al poco tiempo de terminar me marché a Madrid a trabajar en la consultora Microsoft® por excelencia, <b>Avanade</b> a trabajar en un avión no tripulado y posteriormente en <b>Airbus</b> para continuar con ese y otros proyectos durante 9 maravillosos años.</p>
                            <p>En 2009 tuve una revelación al experimentar el desarrollo bajo siguiendo el manifiesto y principios ágiles con Scrum.
                               Los resultados fueron tan increibles que decidí dedicarme en cuerpo y alma a aprender sobre los diferentes campos necesarios para hacer lo mismo en distintas organizaciones.</P>
                            <p>
                            <p>Actualmente trabajo como freelance con clientes tales como Everis, Universidad de Barcelona, Nespresso, Thinking With You o UXImmersive.
                               Soy profesor de master de metodologías ágiles en la universidad LaSalle donde comparto además las experiencias de trabajar en empresas como King.com o eDreams ODIGEO.
                            <p>Hablo español y inglés fluidamente y mi caja de herramientas contiene practicas ténicas cómo TDD o BDD, coaching de equipos, facilitación visual, juegos y técnias de facilitación.
                            <p>He sido speaker en Conferencia Agile Spain en 2014, 2015, 2016 y 2017 además de formar parte activa de la comunidad local de Agile Barcelona.</p>
                            <p>Ahora resido junto a mi pareja, dos niños maravillosos y mi perro en un pequeño pueblo cerca de Barcelona.</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
