 <!-- Portfolio Modals -->
 {% for post in site.categories.2017_speakers %}
    <div class="portfolio-modal modal fade" id="{{ post.name }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="../css/2017_style/img/img_pablo.JPG" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>Soy formador certificado de Kanban, speaker y apasionado de las metodologías ágiles y el pensamiento sistémico.
                            <p>Estudié Informática en Zaragoza y al poco tiempo de terminar me marché a Madrid a trabajar en <b>Avanade</b>, la consultora Microsoft® por excelencia en la que pude conectar una  pasión que tenía desde muy niño, los aviones.
                               Posteriormente continúe mi carrera en <b>Airbus</b> donde colaboré en sistemas para aviones no tripulados y otros proyectos durante 9 maravillosos años.</p>
                            <p>En 2009 tuve una revelación al experimentar el desarrollo bajo el manifiesto y principios ágiles con la metodología Scrum.
                               Los resultados fueron tan increibles que decidí dedicarme a aprender sobre campos como la metodología, facilitación, coaching o pensamiento sistémico para ayudar a proporcionar el mismo impacto en distintas organizaciones.</P>
                            <p>
                            <p>Actualmente trabajo como freelance colaborando con Everis, Universidad de Barcelona, Nespresso, Thinking With You o UXImmersive.
                               Soy profesor del master de metodologías ágiles en la universidad LaSalle donde comparto además las experiencias de trabajar en empresas como King.com o eDreams ODIGEO.
                            <p>Hablo español y inglés fluidamente y mi caja de herramientas contiene experiencia en diseño de arquitecturas software, BDD, coaching de equipos, facilitación grupal, visual, aprendizaje dirigido por juegos y resolución de conflictos.
                            <p>He sido speaker en la Conferencia Agile Spain en 2014, 2015, 2016 y 2017 además de formar parte activa de la comunidad local de Agile Barcelona.</p>
                            <p>Ahora resido junto a mi pareja, dos niños maravillosos y mi perro en un pequeño pueblo cerca de Barcelona donde he descubierto mi pasión por el surf.</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
